.control {
    width: 300px;
    margin-left: 20px !important;
    margin-right: 20px !important;
    font-family: "Segoe UI Semibold";
    margin-bottom: 30px;

}

.button-control {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.available-list {   
    display: flex;
    justify-content: space-around;
}

.search_area
{
    margin-top: 20px;
    font-family: "Segoe UI Semibold";
    text-align: center;
}